[Unit]
Description=pinger_version
After=network.target

[Service]  
Type=simple
WorkingDirectory=/home/hotadmin/pinger/
ExecStart=/home/hotadmin/pinger/pinger_version
Restart=always
RestartSec=5  
MemoryMax=100M 
MemorySwapMax=0
User=root 
Group=root
Environment=PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/bin

StandardOutput=journal
StandardError=journal
SyslogIdentifier=pinger_version

[Install]
WantedBy=multi-user.target